<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/assets/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Guide</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .boas {
            background-color: #fff;
            padding: 5%;
         
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 90%;
        }

        h1{
            font-size: 20px;
            width: 90%;
            margin-bottom: 2%;
        }

        h1, h3 {
            color: #333;
        }

        ol {
            margin-left: 20px;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>
    <body class="corpo">

        <header class="header">        
            <div class="topo">
                <div class="intro">
                    <a href="{{ url_for('home') }}">Voltar</a>
                </div>
                    <div class="social">           
                        <a href="https://discord.com/invite/y4bYeEn7xz" target="_blank"><img src="https://img.shields.io/badge/Discord-7289DA?style=for-the-badge&logo=discord&logoColor=white" target="_blank"></a>                   
                    </div>
            </div>   
             
                <div class="boas">

                            <h1>Boas Práticas para Postagem de Links de Recursos:</h1>

                            <h3>Relevância do Conteúdo:</h3>
                            <ol>
                                <li>Certifique-se de que o recurso que você está compartilhando é relevante para a comunidade de Ciência de Dados.</li>
                                <li>Avalie a qualidade e atualidade do conteúdo para garantir que seja valioso para os membros.</li>
                            </ol>

                            <h3>Categorização Adequada:</h3>
                            <ol>
                                <li>Ao postar, escolha a categoria apropriada para o recurso, garantindo que os membros possam encontrar facilmente informações específicas.</li>
                                <li>Forneça uma breve descrição explicando por que o recurso é valioso ou interessante.</li>
                                <li>Evite categorizações genéricas; seja específico para facilitar a busca.</li>
                            </ol>

                            <h3>Verificação de Links:</h3>
                            <ol>
                                <li>Certifique-se de que os links estão ativos e direcionam corretamente para o conteúdo mencionado.</li>
                                <li>Evite postar links quebrados ou que redirecionem para conteúdo não relacionado.</li>
                                <li>Inclua uma descrição adicional para contextualizar o link.</li>
                            </ol>

                            <h3>Originalidade e Diversidade:</h3>
                            <ol>
                                <li>Promova uma variedade de formatos, como artigos, cursos, vídeos e livros.</li>
                                <li>Evite repetição excessiva de conteúdo já postado.</li>
                                <li>Busque recursos menos conhecidos para diversificar as fontes.</li>
                            </ol>


                            <h4>Bons Estudos.</h4> 

                </div>


                                                     
                    </div>   
          
        </header>

        
    </body>


</html>