<!DOCTYPE html>
<html lang="en">
<head>
    <title>Math</title>
    <link rel="icon" type="image/png" href="/static/assets/icon.png">
    <link rel="stylesheet" href="/static/lists.css">
</head>
<body>
    <main>

        <header class="header">        
            <div class="topo">
                <div class="intro">
                    <a href="{{ url_for('home') }}">Voltar</a>
                    <a href="{{ url_for('boas') }}">Boas Práticas</a>
                </div>
                    <div class="social">           
                        <a href="https://discord.gg/4xRtXWUR" target="_blank"><img src="https://img.shields.io/badge/Discord-7289DA?style=for-the-badge&logo=discord&logoColor=white" target="_blank"></a>                   
                    </div>
            </div>   
            <div class="titulo">
                <h1 class="firsheadline">Matemática</h1>
                    <div class="info">                                    
                        <h4>cálculo, álgebra linear e matrizes. Aborda desde conceitos básicos até aplicações avançadas, proporcionando uma compreensão técnica e prática desses pilares matemáticos.</h4>                                         
                    </div>
                <div class="invite">
                    <h3>Gostaria de participar desse projeto ?</h3>           
                </div>                  
            </div>   
                            
        </header>
        <form class="form" method="post" action="{{ url_for('math') }}">
            {{ form.csrf_token }}
            {{ form.title(size=30, placeholder='Title') }}
            {{ form.description(size=45, placeholder='Description') }}
            {{ form.link(placeholder='Link') }}
            <input type="submit" value="Submit">
        </form>
            </div>
            <div class="pesquisa">
                <form action="{{ url_for('math')}}" method="POST">
                    <input type="text" name="query" placeholder="Enter search query" value="{{ query }}">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="list">
                            {% if resources %}
                    <ul>
                        {% for resource in resources %}
                            <li>{{ resource[0] }} - {{ resource[1] }}<a href="{{ resource[2] }}">to know more</a></li> 
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
    </main>        
</body>
</html>
